<section class="cover container" id="cover">
  <h3 class="cover__title">Секція Covers</h3>
  <div class="content">
    <ul class="marquee">
      <li class="marquee__inner">
        <picture class="marquee__line">
          <source
            srcset="/img/2x/first screen 1.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/first screen 1.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 4.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 4.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 5.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 5.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 6.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 6.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 7.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 7.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 8.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 8.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 9.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 9.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 10.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 10.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 11.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 11.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 12.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 12.png" alt="Адаптивне зображення" />
        </picture>
      </li>
      <li class="marquee__inner">
        <picture class="marquee__line">
          <source
            srcset="/img/2x/first screen 1.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/first screen 1.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 4.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 4.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 5.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 5.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 6.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 6.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 7.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 7.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 8.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 8.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 9.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 9.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 10.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 10.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 11.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 11.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 12.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 12.png" alt="Адаптивне зображення" />
        </picture>
      </li>
      <li class="marquee__inner">
        <picture class="marquee__line">
          <source
            srcset="/img/2x/first screen 1.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/first screen 1.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 4.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 4.png" alt="Адаптивне зображення" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 5.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 5.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 6.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 6.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 7.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 7.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 8.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 8.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 9.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 9.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 10.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 10.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 11.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 11.png" alt="Адаптивне зображення" />
        </picture>

        <picture class="marquee__line">
          <source
            srcset="/img/2x/Rectangle 12.png"
            media="(min-width: 768px)"
          />
          <img src="/img/1x/Rectangle 12.png" alt="Адаптивне зображення" />
        </picture>
      </li>
    </ul>
  </div>
</section>
<script src="../js/covers.js"></script>