<section class="hero-container container">
    <h1 class="main-title"> Hello.<br/>
    I’m Fullstack developer <br/>
    Lloyd Jefferson.
    </h1>
    <nav class="hero-nav">
      <ul class="list-nav">
        <li><a class="hero-nav-item" href="https://www.instagram.com/goitclub/  " target="_blank">IG</a></li>
        <li><a class="hero-nav-item" href="https://www.facebook.com/goITclub/  " target="_blank">FB</a></li>
        <li><a class="hero-nav-item" href=" https://www.youtube.com/c/GoIT  " target="_blank">YT</a></li>
        <li><a class="hero-nav-item" href="" target="_blank">GH</a></li>
      </ul>  
      <a class="email" href="lloydjefferson@gmail.com" target="_blank">lloydjefferson@gmail.com</a>
    </nav>
  </section>