<!-- убрать is open -->
<div class="mobile-menu menu__boby" data-menu >
    <button type="button" class="mobile-menu-close menu-close" data-menu-close>
      <svg class="menu-icon-close" width="16" height="16" stroke="#FAFAFA">
        <use href="/img/icon.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-item">
          <a class="mobile-nav-link menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-nav-link menu-link" href="#about">About me</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-nav-link menu-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-item">
          <a
            class="mobile-nav-link menu-link"
            href="
        #faq "
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <button class="mobile-btn-order">
      <a href="#footer">Order the project</a>
    </button>
  </div>