<section id="projects" class="container">
    <div class="projects-container">
      <h2 class="visually-hidden">Projects</h2>
      <div class="swiper projects-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="project-card">
              <div class="project-content">
                <ul class="project-tags">
                  <li class="project-tags-list">#react</li>
                  <li class="project-tags-list">#js</li>
                  <li class="project-tags-list">#node js</li>
                  <li class="project-tags-list">#git</li>
                </ul>
                <h3 class="project-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/Orkneya/goit-team07-project-02"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="project-link"
                >
                  See project
                </a>
              </div>
              <div class="project-img-cont">
                <picture>
                  <source
                    srcset="
                      /img/projects-img/projects-img-1-pc-tab.png    1x,
                      /img/projects-img/projects-img-1-pc-tab-2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      /img/projects-img/projects-img-1-mob.png    1x,
                      /img/projects-img/projects-img-1-mob-2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="/img/projects-img/projects-img-1-pc-tab.png"
                    alt="Project 1 screenshot"
                    width="614"
                    class="project-image"
                  />
                </picture>
              </div>
            </div>
          </li>
  
          <li class="swiper-slide">
            <div class="project-card">
              <div class="project-bg"></div>
              <div class="project-content">
                <ul class="project-tags">
                  <li class="project-tags-list">#react</li>
                  <li class="project-tags-list">#js</li>
                  <li class="project-tags-list">#node js</li>
                  <li class="project-tags-list">#git</li>
                </ul>
                <h3 class="project-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/Orkneya/goit-team07-project-02"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="project-link"
                >
                  See project
                </a>
              </div>
              <div class="project-img-cont">
                <picture>
                  <source
                    srcset="
                      /img/projects-img/projects-img-2-pc-tab.jpg    1x,
                      /img/projects-img/projects-img-2-pc-tab-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      /img/projects-img/projects-img-2-mob.jpg    1x,
                      /img/projects-img/projects-img-2-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="/img/projects-img/projects-img-2-pc-tab.jpg"
                    alt="Project 1 screenshot"
                    width="614"
                    class="project-image"
                  />
                </picture>
              </div>
            </div>
          </li>
  
          <li class="swiper-slide">
            <div class="project-card">
              <div class="project-bg"></div>
              <div class="project-content">
                <ul class="project-tags">
                  <li class="project-tags-list">#react</li>
                  <li class="project-tags-list">#js</li>
                  <li class="project-tags-list">#node js</li>
                  <li class="project-tags-list">#git</li>
                </ul>
                <h3 class="project-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/Orkneya/goit-team07-project-02"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="project-link"
                >
                  See project
                </a>
              </div>
              <div class="project-img-cont">
                <picture>
                  <source
                    srcset="
                      /img/projects-img/projects-img-3-pc-tab.jpg    1x,
                      /img/projects-img/projects-img-3-pc-tab-2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      /img/projects-img/projects-img-3-mob.jpg    1x,
                      /img/projects-img/projects-img-3-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="../img/projects-img/projects-img-3-pc-tab.jpg"
                    alt="Project 1 screenshot"
                    width="614"
                    class="project-image"
                  />
                </picture>
              </div>
            </div>
          </li>
        </ul>
  
        <div class="project-swiper-buttons">
          <button class="custom-swiper-prev" aria-label="Previous project">
            <svg class="icon-project" width="32" height="32">
              <use href="/img/icon.svg#icon-left" class="svg-icons-project"></use>
            </svg>
          </button>
          <button class="custom-swiper-next" aria-label="Next project">
            <svg class="icon-project" width="32" height="32">
              <use
                href="/img/icon.svg#icon-right"
                class="svg-icons-project"
              ></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>